@media screen and (max-width: 374px) {

    /*-------Header-------*/
    .cajared {
        margin-left: 50%;
    }

    #back-back {
        height: 150vh;
        width: 300%;
        transform: rotate(155deg);
        top: -150px;
        right: -400px;
    }

    /*-------Formulario + Boton aviso de privacidad-------*/
    #promo {
        margin-left: 20px;
        margin-top: 0px;
        width: 140%;
        height: 70vh;
    }

    .parrafo {
        text-align: center;
        font-size: 3.3rem;
        line-height: 45px;
    }

    .texto {
        font-size: 1.8rem;
        line-height: 30px;
    }

    #info {
        margin-top: 17px;
        width: 90%;
        height: 10vh;
        font-size: 1.1rem;
    }

    #boton {
        height: 7vh;
        width: 50%;
        margin-top: 10px;
        font-size: 1.1rem;
    }

    #abrirAviso {
        margin: 0px 0px 0px 32.5%;
        height: 50px;
        width: 280px;
        font-size: 1.2rem;

    }

    /*-------Fotos-------*/

    #productos {
        position: absolute;
        top: 103%;
        left: 0px;
    }

    .ima {
        height: 140.8px;
        width: 256px;
    }

    .g {
        margin: -40px 0 0 200px;
    }

    /*-------Aviso de privacidad-------*/
    .aviss {
        width: 67%;
        height: 183vh;
    }

    .aviso-contenido {
        width: 75%;
        height: 75%;
        top: 10px;
        margin: 4%;
    }
}